@charset "utf-8";

// Set your brand colors
$purple: #7026B9;

// Update Bulma's global variables
$primary: $purple;





#root, body, html{
	min-height: 100vh;
}




// Import only what you need from Bulma
@import "../../node_modules/bulma/bulma.sass";


